.hero {
  /* stylelint-disable-next-line prettier/prettier */
  background-image: url('../../assets/images/hero/bg.jpg');
  background-color: #eedbca;
  /* stylelint-disable-next-line prettier/prettier */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 641px;

  @media (width <= 1023px) {
    background-position: inherit;
  }
}

.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 267px;
  padding-top: 152px;

  @media (width <= 768px) {
    padding-right: 150px;
    padding-top: 170px;
  }

  @media (width <= 576px) {
    padding-right: 90px;
    padding-top: 180px;
  }
}

.hero__content {
  max-width: 530px;

  @media (width <= 768px) {
    max-width: none;
  }
}

.hero__content-subtitle {
  color: var(--color-primary);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 600;
  margin-bottom: 4px;

  @media (width <= 768px) {
    font-size: 20px;
  }
}

.hero__content-title {
  font-size: 56px;
  line-height: 1.29;
  font-weight: 600;
  margin-bottom: 11px;

  @media (width <= 768px) {
    font-size: 36px;
  }
}

.hero__content-description {
  line-height: 1.81;
  color: var(--color-secondary);
  margin-bottom: 38px;
}
