.slider {
  padding-bottom: 162px;
}

.slider__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 0.89;
  margin-bottom: 41px;
}

.slider__gallery {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  overflow: hidden;
}
