body {
  font-family: Jost, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.hr {
  content: '';
  display: block;
  position: relative;
  width: 127px;
  border: none;
  height: 4px;
  margin: 20px auto 25px;
  background-color: var(--color-primary);
}

.fa-star {
  color: var(--color-empty-star);
}

.checked {
  color: var(--color-yellow);
}
