:root {
  color-scheme: dark;

  --color-primary: #ff7b55;
  --color-secondary: #e0e0e0;
  --color-gray: #a5a5a5;
  --color-white: #121212;
  --color-black: #fff;
  --color-pink: #2a1f1d;
  --color-peach: #3a2b27;
  --color-yellow: #ffd54f;
  --color-empty-star: #555;
}
